*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-base;
  color: $base-text-color;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
