// COLOR

$base-text-color: #444444;
$text-color-secondary: #222222;
$text-color-special: #111111;
$white: #ffffff;
$grey-extra-light: #f2f2f2;
$grey-super-light: #eaeaea;
$grey-special: #ebebeb;
$grey-light: #e6e6e6;
$grey-secondary: #d9d9d9;
$grey: #cdcdcd;
$grey-dark: #666666;
$black: #000000;

$green-base: #68b738;
$green-gradient: rgba(104, 183, 56, 0.85);

// FONTS

$font-base: "Lato", "arial", sans-serif;
$font-primary: "Oswald", "arial", sans-serif;
