.contacts-color {
  background-color: $grey-extra-light;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
  gap: 14px;
}

.contacts__title {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  color: $text-color-special;
}

.contacts__text {
  line-height: 20px;
}

.contacts__address {
  margin: 0;
}

.contacts__city {
  margin: 0;
}

.contacts__maps {
  display: block;
  width: 100%;
  border: none;
}
