.contacts-color {
  background-color: $grey-extra-light;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media #{$tablet} {
    padding: 60px 40px;
  }
}

.contacts__title {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  color: $text-color-special;
  width: 140px;
  padding-right: 10px;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  line-height: 20px;
  width: 140px;

  @media #{$tablet} {
    font-size: 16px;
    text-align: right;
    width: 160px;
  }
}

.contacts__address {
  margin: 0;

  @media #{$tablet} {
    margin-bottom: 25px;
  }
}

.contacts__city {
  margin: 0;
}

.contacts__maps {
  display: block;
  width: 100%;
  border: none;
}
