.developer {
  display: flex;
  min-width: 280px;
  height: 34px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @media #{$tablet} {
    padding: 0;
    min-width: 168px;
  }
}

.developer span {
  color: $base-text-color;
  font-family: $font-base;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-right: auto;

  @media #{$tablet} {
    margin: 0;
    padding-right: 23px;
    align-items: center;
  }
}

.icon-html-academy {
  fill: $grey-dark;
}

.developer:focus .icon-html-academy,
.icon-html-academy:hover {
  fill: $green-base;
}
