.footer-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;

  @media #{$tablet} {
    padding: 0;
    justify-content: flex-start;
    align-self: flex-end;
  }
}

.footer-logo svg {
  fill: $text-color-special;
}

.footer__logo-link:focus svg,
.footer-logo svg:hover {
  fill: $black-super-light;
}

.footer-logo svg:active {
  fill: $black-extra-light;
}
