.header {
  min-height: 65px;
  position: relative;

  @media #{$desktop} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 14px;
  align-items: center;

  @media #{$tablet} {
    padding-right: 4px;
  }

  @media #{$desktop} {
    padding-top: 55px;
  }
}

.header--no-js .header__inner {
  display: block;
  padding-bottom: 0;
}
