.header {
  min-height: 65px;
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 14px;
  align-items: center;

  @media #{$tablet} {
    padding-right: 4px;
  }
}

.header--no-js .header__inner {
  display: block;
  padding-bottom: 0;
}
