.logo {
  display: flex;
  align-items: center;
  z-index: 1;
  outline: none;

  @media #{$tablet} {
    margin-right: 20px;
  }
}

.logo-img {
  margin-right: 55px;

  @media #{$tablet} {
    margin-right: 13px;
  }

  @media #{$desktop} {
    margin-right: 14px;
  }
}

@media #{$desktop} {
  .logo-text {
    width: 118px;
    height: 21px;
  }
}
