.product__title {
  padding: 27px 20px 41px;
  text-align: start;
  border-bottom: 1px solid $grey-special;

  @media #{$tablet} {
    padding: 65px 50px 84px;
    text-align: start;
    border: none;

    @media #{$desktop} {
      padding: 74px 130px 84px;
    }
  }
}

.product__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 20px;

  @media #{$tablet} {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
    margin-bottom: 70px;
  }

  @media #{$desktop} {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    column-gap: 80px;
    row-gap: 63px;
    margin-bottom: 76px;
  }
}

.product__list-item {
  display: grid;
  grid-template-columns: 140px 1fr;
  padding: 20px 20px 25px;
  border-bottom: 1px solid $grey-special;
  margin-left: -20px;
  margin-right: -20px;
  min-height: 209px;

  @media #{$tablet} {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 511px;
    align-items: center;
    padding: 0 37px 40px;
    margin: 15px 0 0;
    background-color: $grey-super-light;
    background-image: linear-gradient(to bottom, $white 81px, transparent 81px,);
  }
}

@media #{$tablet} {
  .product__list-item--more {
    background-color: $white;
    border: 2px solid $grey-super-light;
    min-height: 429px;
    margin-top: 95px;
  }
}

.product__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;

  @media #{$tablet} {
    margin: auto 0;
  }
}

.product__icon {
  display: block;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @media #{$tablet} {
    margin: auto auto;
    width: 60px;
    height: 60px;
  }
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 21px;
  width: 100%;
}

.product__card--more {
  grid-column: 1 / -1;
  height: 100%;
  margin: 0;
}

.product__card-title {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $text-color-secondary;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 14px;
  max-width: 99px;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    max-width: 135px;
    text-align: center;
    margin: 0 auto 20px;
  }
}

.product__card-title--more {
  color: $text-color-special;
  padding: 0;
  align-self: center;
  text-align: center;
  max-width: 100%;

  @media #{$tablet} {
    margin-bottom: 32px;
    max-width: 178px;
  }
}

.product__card-item {
  display: flex;
  justify-content: space-between;

  @media #{$tablet} {
    border-bottom: 1px solid $grey;
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
}

.product__card-name,
.product__card-value {
  font-size: 12px;
  line-height: 16px;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__card-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0 11px 21px;
  text-align: center;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 82px;
  }

  @media #{$desktop} {
    margin-left: 0;
    margin-right: 0;
  }
}

.product__button {
  grid-column: 1 / -1;
}

.product__button--transparent {
  background-color: $grey-extra-light;
  color: $base-text-color;
}

.product__button--transparent:focus,
.product__button--transparent:hover,
.product__button--transparent:active {
  background-color: $grey-special;
  color: $base-text-color;
}
