.selection__title {
  padding: 27px 0 37px;
}

.selection__note {
  font-family: $font-primary;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  padding-bottom: 39px;
}

.selection__items-label {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.selection__items-input {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.selection__form-title {
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $black;
}

.selection__items-textarea {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $base-text-color;
  width: 100%;
  height: 150px;
}

.selection__button {
  margin-top: 34px;
}

.selection__required-fields {
  display: block;
  line-height: 16px;
  text-align: center;
  margin-top: 21px;
}
