.slider {
  position: relative;
  width: 280px;
  height: 256px;

  @media #{$tablet} {
    width: 560px;
    height: 512px;
  }

  @media #{$desktop} {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.slider__img-before {
  width: 280px;
  height: 256px;

  @media #{$tablet} {
    width: 560px;
    height: 512px;
  }
}

.slider__before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 256px;
  background-color: $grey-super-light;

  @media #{$tablet} {
    height: 512px;
    background-color: $white;
    background-image: linear-gradient(to top, $grey-super-light 360px, transparent 360px);
  }

  @media #{$desktop} {
    background-image: linear-gradient(to top, $grey-super-light 380px, transparent 380px);
  }
}

.slider__before-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__img-after {
  width: 280px;
  height: 256px;

  @media #{$tablet} {
    width: 560px;
    height: 512px;
  }
}

.slider__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 50%;
  border: 2px solid $grey-dark;
  width: 40px;
  height: 40px;
  transform: translate(50%, -50%);
  z-index: 2;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  fill: $grey-dark;
  background-color: $white;
}


.slider__button::before,
.slider__button::after {
  content: "";
  position: absolute;
  right: 16px;
  width: 4px;
  height: 108px;
  background-color: $grey-dark;
  border-radius: 2px;
  cursor: pointer;

  @media #{$tablet} {
    height: 236px;
  }
}

.slider__button::before {
  top: 37px;
}

.slider__button::after {
  bottom: 37px;
}

.slider__button:hover,
.slider__button:focus {
  border: 2px solid $green-base;
  fill: $green-base;
}

.slider__button:active {
  border: 2px solid $green-primary;
  fill: $green-primary;
  opacity: 0.6;
}

.slider__button:hover::before,
.slider__button:hover::after {
  background-color: $green-base;
}

.slider__button:active::before,
.slider__button:active::after {
  background-color: $green-primary;
  opacity: 0.6;
}
