.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid $grey-secondary;
  border-top: 1px solid $grey-secondary;
}

.social__link {
  fill: $grey-dark;
}

.social__item .social__link:focus,
.social__link:hover {
  fill: $green-base;
}
