.title {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin: 0;

  @media #{$tablet} {
    font-size: 60px;
    line-height: 60px;
  }
}

.title-decor {
  margin: 0 -20px;
  padding: 0 20px;
  width: max-content;
  background-color: $white;
}
